<div class="container">
  <div class="jumbotron text-center" style="background: url(../assets/monimage.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">  
    <h1>TWEB-MEAN</h1>
    <p class="lead">Welcome to Management of Airbus trainings</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Express Backend</h3>
      <p>A rock solid Node.js/Express server using Mongoose to organise models and query<br>
      <a href="http://expressjs.com/fr/guide/routing.html"> Voici le lien</a> pour accéder à la page officielle
      </p>
    </div>
    <div class="col-md-4">
      <h3>Angular-CLI</h3>
      <p>The Angular CLI is a tool to initialize, develop, scaffold and maintain Angular applications<br>
        <a href="https://cli.angular.io/"> Voici le lien</a> pour accéder à la page officielle
      </p>
    </div>
    <div class="col-md-4">
      <h3>JWT Tokens</h3>
      <p>JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way 
        for securely transmitting information between parties as a JSON object. This information can be verified
         and trusted because it is digitally signed. JWTs can be signed using a secret (with the HMAC algorithm) or a public/private key pair using RSA.<br>
        <a href="https://jwt.io/">Voici le lien</a> pour accéder à la page officielle
      </p>
    </div>
  </div>
</div>